!**/
.vscode


simulation/flow
simulation/output
simulation/mix


__pycache__
# __*

*.log
*.pt
*.fmap
!default.fmap
*.conf
*.flow
*.pfc
*.output
*.qlen
*.tr
*.fct
*.csv

no_git*

TODO

*.npy
*.pth

tools/analysis/**/*
!tools/analysis/**/*.py

!.gitignore
